body {
    background-color: #dadbd4 !important;
    height: 100vh;
    position: relative !important;
}

.green-bar {
    width: 100%;
    height: 12%;
    background-color: #009688;
}

.chat-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
    height: 95%;
}

aside {
    width: 30%;
    height: 100%;
}

aside header {
    height: 3.5rem;
    background-color: #eaeaea;
}

aside header .left-block {
    width: 50%;
}

aside header .img-container {
    clip-path: circle();
    width: 25%;
    object-fit: contain;
}

aside header .username {
    font-size: .8rem;
    color: black;
    font-weight: bold;
}


aside header .right-block i {
    color: #b1b1b1;
}

aside .search {
    height: 7rem;
}

aside .search .notification {
    height: 66%;
    background-color: #8edafc;
}

aside .search .notification .icon-container {
    clip-path: circle();
    padding: .5rem;
    background-color: white;
}

aside .search .notification .icon-container i {
    color: #8edafc;
}

aside .search .notification .right-block {
    display: flex;
    flex-direction: column;
}

aside .search .notification span {
    font-size: .8rem;
    font-weight: bold;
}

aside .search .notification a {
    font-size: .7rem;
    color: #6b7376;
}

aside .search .write-search {
    height: 34%;
    background-color: #fafafa;
}

aside .search .write-search .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 75%;
    background-color: white;
}

aside .search .write-search .icon-container i {
    color: #6b7376;
}

aside .search .write-search input {
    width: 82%;
    height: 75%;
    border-radius: 2px;
    background-color: white;
    border: none;
    font-size: .8rem;
    padding: .7rem;
}

aside .chats {
    height: calc(100% - 10.5rem);
    background-color: white;
    overflow-y: scroll;
}

.contacts:hover {
    background-color: #e9ebeb;
}

.chats .contacts .img-container {
    width: 15%;
}


.contents {
    width: 70%;
    height: 100%;
}


.contents header {
    height: 3.5rem;
    background-color: #eaeaea;
}

.contents header .left-block {
    width: 50%;
}

.contents header .img-container {
    clip-path: circle();
    width: 10.17%;
    object-fit: contain;
}

.contents header .username {
    font-size: .8rem;
    color: black;
    font-weight: bold;
}


.contents header .right-block i {
    color: #b1b1b1;
}


.contents .chat {
    height: calc(100% - 7rem);
    background-image: url('../img/mine.jpg');
    background-size: contain;
    overflow-y: scroll;
}

.contents .write-message {
    height: 3.5rem;
    background-color: #f3eeea;
}

.write-message input {
    width: 80%;
    height: 75%;
    border: none;
    border-radius: 5px;
    font-size: .8rem;
    padding: .7rem;
}

input::placeholder {
    font-size: .8rem;
}

.write-message i {
    color: #6b7376;
}


.chat {
    padding: 3rem 5rem 3rem 5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.received {
    width: 40%;
    padding: .2rem;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-size: .8rem;
    align-self: flex-start;
    position: relative;
}

.sent {
    width: 40%;
    padding: .2rem;
    border-radius: 6px;
    background-color: #d5f9ba;
    color: black;
    font-size: .8rem;
    align-self: flex-end;
    position: relative;
}


.chat .message .date {
    position: absolute;
    bottom: .2rem;
    right: .2rem;
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
    color: #6b7376;
    
}

.chat .message .text {
    display: flex;
    align-items: center;
    padding: .6rem;
}

.chats .contacts {
    position: relative;
}

.contacts .contacts-text-container {
    display: flex;
    flex-direction: column;
}


.contacts .img-container {
    clip-path: circle();
    width: 10.17%;
    object-fit: contain;   
}


.contacts .contacts-text-container .username{
    font-size: .8rem;
    color: black;
    font-weight: bold;
}


.contacts .contacts-text-container .text{
    font-size: .7rem;
    color: #6b7376;
}

.contacts .contacts-text-container .date {
    position: absolute;
    up: .2rem;
    right: .2rem;
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
    color: #6b7376;

}