<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp - a (not very) innovative messaging platform</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="js/script.js" defer></script>
    
<body class="">
    <div class="green-bar"></div>
    <div class="container">
        <div class="chat-container d-flex">
            <aside>
                <header class="d-flex justify-content-between align-items-center ps-2 pe-3">
                    <div class="left-block d-flex align-items-center">
                        <div class="img-container me-2">
                            <img class="img-fluid" src="img/avatar_io.jpg" alt="">
                        </div>
                        <span class="username">Sofia</span>
                    </div>
                    <div class="right-block">
                        <i class="fa-solid fa-circle-notch fs-5"></i>
                        <i class="fa-solid fa-message fs-5 ms-3"></i>
                        <i class="fa-solid fa-ellipsis-vertical fs-5 ms-3"></i>
                    </div>
                </header>
                <section class="search">
                    <div class="notification d-flex align-items-center ps-2">
                        <div class="icon-container me-2">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="right-block">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="write-search d-flex justify-content-center align-items-center">
                        <div class="icon-container p-1">
                            <i class="fa-solid fa-magnifying-glass fs-6"></i>
                        </div>
                        <input type="text" placeholder="cerca o inizia una nuova chat" v-model="searchContacts">
                    </div>
                </section>
                <section class="chats">
                    <div class="contacts d-flex align-items-start px-3 py-2" v-if="includesCharacters(chat)" v-for="(chat, i) in contacts" @click="selectContact(i)">
                        <div class="img-container me-2">
                            <img class="img-fluid" :src="'img/' + chat.avatar" alt="">
                        </div>
                        <div class="contacts-text-container">
                            <div class="username">{{chat.name}}</div>
                            <div class="text">{{chat.messages[chat.messages.length - 1].message}}...</div>
                            <div class="date">{{chat.messages[chat.messages.length - 1].date.slice(11,16)}}</div>
                        </div>
                    </div>
                </section>
            </aside>
            <div class="contents">
                <header>
                    <header class="d-flex justify-content-between align-items-center ps-2 pe-3">
                        <div class="left-block d-flex align-items-center">
                            <div class="img-container me-2">
                                <img class="img-fluid" :src="'img/' + selectedContact.avatar" alt="">
                            </div>
                            <span class="username">{{selectedContact.name}}</span>
                        </div>
                        <div class="right-block">
                            <i class="fa-solid fa-magnifying-glass fs-5"></i>
                            <i class="fa-solid fa-paperclip fs-5 ms-3"></i> 
                            <i class="fa-solid fa-ellipsis-vertical fs-5 ms-3"></i>
                        </div>
                    </header>
                </header>
                <section class="chat">
                    <div class="message" v-for="(message, i) in selectedContact.messages" :class="message.status =='received' ? 'received' : 'sent'" @click="changeMenuIndex()">
                        <div class="text">{{message.message}}</div>
                        <div class="date">{{message.date.slice(11,16)}}</div>
                        <div class="menu" v-if="menuIndex == true">
                            <div>Message info</div>
                            <div>Delete message</div>
                        </div>
                    </div>
                </section>
                <section class="write-message d-flex justify-content-around align-items-center px-1">
                    <i class="fa-regular fa-face-smile fs-5 "></i>
                    <input @keyup.enter="addMessage(); answerMessage(); currentDate();" placeholder="Scrivi un messaggio" type="text" v-model="newMessageSent.message">
                    <i class="fa-solid fa-microphone fs-5 "></i>
                </section>
            </div>
        </div>
    </div>
    
</body>
</html>



